name: Pruebas Automatizadas

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set Up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: "17"
        distribution: "temurin"

    - name: Cache Maven
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Install ChromeDriver (v137.0.7151.119)
      uses: nanasess/setup-chromedriver@v2
      with:
        chromedriver-version: "137.0.7151.119"

    - name: Install xvfb
      run: sudo apt-get update && sudo apt-get install -y xvfb

    - name: Build & Test
      run: xvfb-run mvn -B clean verify sonar:sonar

     # Ejecuci칩n del an치lisis de calidad con SonarQube
    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@master
      continue-on-error: true  # Configuraci칩n tolerante a fallos de an치lisis
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
